<div class="container">
  <div class="input-section">
    <label class="input-name">Note Category:</label>
    <select id="category" class="input-form">
      <option value="Task">Task</option>
      <option value="Random Thought">Random Thought</option>
      <option value="Idea">Idea</option>
    </select>

    <label class="input-name">Note Content:</label>
    <input type="text" id="content" class="input-form" />

    <button id="addNoteBtn">Add Note</button>
  </div>

  <table id="notesTable" class="table-container">
    <thead>
      <tr>
        <th>Time of Creation</th>
        <th>Note Content</th>
        <th>Note Category</th>
        <th>Dates Mentioned</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <h2>Summary</h2>
  <table id="summaryTable" class="summary-table">
    <thead>
      <tr>
        <th>Note Category</th>
        <th>Active Notes Count</th>
        <th>Archived Notes Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Task</td>
        <td id="taskActiveCount">0</td>
        <td id="taskArchivedCount">0</td>
      </tr>
      <tr>
        <td>Random Thought</td>
        <td id="randomThoughtActiveCount">0</td>
        <td id="randomThoughtArchivedCount">0</td>
      </tr>
      <tr>
        <td>Idea</td>
        <td id="ideaActiveCount">0</td>
        <td id="ideaArchivedCount">0</td>
      </tr>
    </tbody>
  </table>
</div>
